
.sec-first {
  // .sec-first__bg
  &__bg {
  }
	// .sec-first__container
	&__container {
   @extend %section;
	}
	// .sec-first__body
	&__body {
    position: relative;
    z-index: 2;
    @include adaptiveValue("max-width", 830, 580,2,1920,1366.98);
    @include adaptiveValue("max-width", 580, 630,3,1366.98,750.98);
    padding: toRem(30) 0;
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      width: 100%;
      max-width: unset !important;
      display: grid;
      align-items: center;
      grid-template-columns: 45% 55%;
    }
	}
	// .sec-first__title
	&__title {
    opacity: 0;
    transition: opacity .45s ease;
    .loaded & {
      opacity: 1;
      transition-delay: .2s;
    }
    text-align: center;
    @include adaptiveValue("max-width", 708, 500,0,1920,1366.98);
    @include adaptiveValue("font-size", 60, 38,2,1920,1366.98);
    @include adaptiveValue("font-size", 38, 30,3,1366.98,480.98);
    color: #FFF200;
    margin-bottom: toRem(30);
    @media (min-width:toEm(1440.98)){
      line-height: 1.3;
      @include stroke(24, #2D7E4A);
    }
    @media (max-width: toEm(1440.98)){
      line-height: 1.2;
      @include stroke(14, #2D7E4A);
    }
    @media (max-width:$mobile){
      line-height: 1.3;    
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      line-height: 1.6;
      font-size: toRem(25) !important;
    }
    @media (max-width: toEm(375.98)){
        font-size: toRem(22) !important;
        line-height: 1.5;
    }
	}
	// .sec-first__packs
	&__packs {
    position: relative;
	}
  &__pack-01,
  &__pack-03 {
    @extend %packs;
  }
	// .sec-first__pack-01
	&__pack-01 {
    left: 18%;
    transform: translate(-50%,-50%)  rotate(-12deg);
    @include adaptiveValue("width", 295, 200,2,1920,1366.98);
    @include adaptiveValue("width", 200, 155,3,1366.98,480.98);
    @media (max-width:$mobileSmall){
       left: 20%; 
    }
	}
	// .sec-first__pack-02
	&__pack-02 {
   @extend %pack02;
    @include adaptiveValue("width", 470, 330,2,1920,1366.98);
    @include adaptiveValue("width", 330, 320,3,1366.98,480.98);
    @media (max-width: toEm(375.98)){
      width: toRem(280) !important;
    }
	}
	// .sec-first__pack-03
	&__pack-03 {
    right: 18%;
    transform: translate(50%,-50%) rotate(12deg);
    @include adaptiveValue("width", 327, 160,2,1920,1366.98);
    @include adaptiveValue("width", 160, 144,3,1366.98,480.98);
    @media (max-width:$mobileSmall){
       right: 18%; 
    }
	}
}


.sec-second {
  // .sec-second__bg
  &__bg {
  }
	// .sec-second__container
	&__container {
    @extend %section;
    justify-content: center;
	}
  // .sec-second__packs
  &__packs {
    position: relative;
    z-index: 2;
  }
  // .sec-second__pack-01
  &__pack-01 {
    @extend %packs;
    left: 2%;
    transform: translate(-50%,-50%)  rotate(-12deg);
    @include adaptiveValue("width", 455, 320,2,1920,1366.98);
    @include adaptiveValue("width", 320, 173,3,1366.98,480.98);
    @media (max-width:$mobileSmall){
       left: 14%; 
    }
  }
  // .sec-second__pack-02
  &__pack-02 {
    @extend %pack02;
    @include adaptiveValue("width", 800, 500,2,1920,1366.98);
    @include adaptiveValue("width", 500, 320,3,1366.98,480.98);
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      width: toRem(320) !important;
    }
  }
  // .sec-second__pack-03
  &__pack-03 {
    @extend %packs;
    right: 3%;
    transform: translate(50%,-50%) rotate(12deg);
    @include adaptiveValue("width", 510, 357,2,1920,1366.98);
    @include adaptiveValue("width", 357, 155,3,1366.98,480.98);
    @media (max-width:$mobileSmall){
       right: 9%; 
    }
  }
}



.sec-third {
  // .sec-third__bg
  &__bg {
  }
	// .sec-third__container
	&__container {
    @extend %section;
    justify-content: center;
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      height: auto !important;
      }
      }
      // .sec-third__body
      &__body {
        position: relative;
        z-index: 1;
        flex: 1;
        padding: toRem(30) toRem(0);
	}
}

.video-youtube {
  // .video-youtube__body
  &__body {
    position: relative;
    z-index: 2;
    background-color: #000;
    margin: 0 auto;
    width: 100%;
    @include adaptiveValue("max-width", 1000, 700,0,1920,1366.98);
    @include adaptiveValue("margin-bottom", 50, 30,0,1366.98,480.98);
    aspect-ratio: 1000/562;
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      aspect-ratio: 1000/450;
    }
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (min-width:$mobileSmall){
        border: toRem(20) solid #2D7E4A;
      }
      @media (max-width:$mobileSmall){
        border: toRem(10) solid #2D7E4A;
      }
      aspect-ratio: 1000/562;
      @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
        aspect-ratio: 1000/450;
        border: toRem(10) solid #2D7E4A;
      }
    }
  }
  // .video-youtube__button
  &__button {
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 100%;
    aspect-ratio: 1000/562;
    @media (min-width:$mobileSmall){
      border: toRem(20) solid #2D7E4A;
    }
    @media (max-width:$mobileSmall){
      border: toRem(10) solid #2D7E4A;
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      aspect-ratio: 1000/450;
      border: toRem(10) solid #2D7E4A;
    }
    @media (any-hover: hover){
      &:hover{
        &::before {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image:url('../img/icons/play.svg');
      background-repeat: no-repeat;
      background-size: contain;
      @include adaptiveValue("width", 130, 90,2,1920,1366.98);
      @include adaptiveValue("width", 90, 80,3,1366.98,480.98);
      @include adaptiveValue("height", 130, 90,2,1920,1366.98);
      @include adaptiveValue("height", 90, 80,3,1366.98,480.98);
      transition: transform .65s ease;
    }
    img {}
  }
}

